$primary-background: #ffffff;

$in-season-background: #21ce99;
$not-in-season-background: #ccc7a9;
$current-month: #f26d0b;
$grey: #f0f0f0;
$white: #ffffff;
$link: #3a699e;
$link-hover: #00213c;
$green: #a4c13a;
$primary-type: #363636;
$grow-button: #9ee4ac;
$stop-grow-button: #45afa8;
