$primary-background: #ffffff;

$in-season-background: #21ce99;
$not-in-season-background: #ccc7a9;
$white: #ffffff;
$grey: #6f6f6f;
$primary-type: #000000;
$grow-button: #9ee4ac;
$stop-grow-button: #45afa8;
