@import "./_colors.scss";
@import "./_mixins.scss";
@import "./reset.scss";

html {
    font-size: 1em;
    font-family: 'Inconsolata', serif;
    color: $primary-type;
    background: $grey;
    box-sizing: border-box;
    animation-iteration-count: infinite;
    animation-name: backgroundColors;
    animation-duration: 120s;
}

@keyframes backgroundColors {
    0%, 100% {
        background: $grey;
    }

    20% {
        background: $backgroundOrange;
    }

    40% {
        background: $backgroundYellow; //yellow
    }

    60% {
        background: $backgroundGreen; // light green
    }

    80% {
        background: $backgroundBlue; // light blue
    }
}

#lets-grow {

    a {
        text-decoration: none;
        color: $link;

        &:hover {
            color: $link-hover;
        }

        &.active {
            color: $link-hover;
        }
    }

    .main-header {
        width: 100%;
        background: $white;
        float: left;
        padding: 20px 0;
        margin-bottom: 20px;

        #main-navigation {
            width: 125px;
            clear: both;
            margin: 0 auto;

            li {
                float: left;
                margin-right: 20px;
                text-align: center;
                width: auto;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .ordered-list {
        margin-bottom: 15px;

        li {
            line-height: 1.5em;
            clear: both;
            margin-left: 25px;
            margin-bottom: 10px;
            list-style-type: decimal;
        }
    }

    .unordered-list {
        margin-bottom: 15px;

        li {
            line-height: 1.5em;
            clear: both;
            margin-bottom: 10px;
        }
    }

    .main {
        width: 96%;
        max-width: 960px;
        margin: 0 auto;
        padding: 0 2%;
        min-height: 100vh;
        clear: both;
    }

    h1 {
        font-size: 2em;
        text-transform: capitalize;
        width: 100%;
        float: left;
        display: block;
        margin-bottom: 40px;
        text-align: center;
        color: $green;

        &.intro {
            font-size: 5em;
            text-align: center;
            margin-top: 50px;
        }
    }

    h2 {
        font-size: 1.8em;
        text-transform: capitalize;
        width: 100%;
        text-align: center;
        display: block;
        margin-bottom: 20px;
    }

    h3 {
        font-size: 1.6em;
        width: 100%;
        display: block;
        margin: 25px 0 15px;
    }

    p {
        line-height: 1.5em;
        margin-bottom: 15px;

        &.intro {
            text-align: center;
        }
    }

    img {
        width: 100%;
        height: auto;
    }

    .button {
        padding: 10px;
        min-width: 200px;
        font-size: 1em;
        border: 0;
        cursor: pointer;
        margin-bottom: 25px;
        border-bottom: 1px solid $grey-strike;
        border-right: 1px solid $grey-strike;
        @include border-radius(5px);

        &.grow {
            background: $grow-button;
        }

        &.stop-growing {
            background: $stop-grow-button;
            color: $white;
            margin-right: 15px;
        }

        &.water-me {
            background: $water-button;
            color: $white;
        }
    }

    .in-season {
        background: $in-season-background;
    }

    .not-in-season {
        background: $not-in-season-background;
    }

    .all-food-list {
        width: 100%;
        position: relative;
        display: block;
        float: left;

        li {
            display: block;
            float: left;
            width: 16.66%;
        }

        .image-container {
            padding: 0 10px;
            height: 100px;
            vertical-align: middle;
            display: table-cell;

            img {
                vertical-align: middle;
            }
        }

        &.slim {
            width: 100%;
            margin: 0 auto;
            float: none;

            .image-container {
                height: 100px;
                opacity: 0.5;

                &:hover {
                    opacity: 1;
                }

                &.active {
                    opacity: 1;
                }
            }
        }
    }

    .food-item {
        width: 100%;
        float: left;

        .content {
            display: block;
            clear: both;
            float: left;
            width: 100%;
        }

        h1 {
            margin-bottom: 0;
        }

        header {
            width: 100%;
            border-bottom: 1px solid $grey-strike;
            padding: 15px 0;
            margin-bottom: 20px;
            float: left;
        }

        .description {
            float: left;
            width: 100%;
            margin-top: 20px;
        }

        .image {
            float: right;
            width: 100%;
            margin: 20px 0;

            img {
                width: 50%;
                height: auto;
                margin: 0 auto;
                position: relative;
                display: block;
            }
        }

        .calendar {
            width: 100%;
            margin: 0 auto;
            clear: both;

            li {
                float: left;
                display: block;
                width: 44px;
                height: 44px;
                margin: 0 20px 20px 0;
                box-sizing: border-box;
                color: $white;
                line-height: 44px;
                position: relative;
                @include border-radius(50px);

                span {
                    width: 44px;
                    text-align: center;
                    display: block;
                }

                &.current-month {
                    border: 2px solid $current-month;

                    span {
                        width: 40px;
                    }
                }

                &:last-child {
                    border-right: 0;
                    margin-right: 0;
                }

                &:nth-child(7) {
                    clear: left;
                }
            }
        }
    }

    .currently-growing {

        li {
            width: 100%;
            margin-right: 0;
            margin-bottom: 30px;
            float: left;

            &:nth-child(even) {
                margin-right: 0;
            }

            .food-header {
                width: 100%;
                float: left;
                border-bottom: 1px solid $grey;
                padding: 0 0 10px;
                margin-bottom: 15px;

                h2 {
                    font-size: 1.8em;
                    text-transform: capitalize;
                    width: auto;
                    float: left;
                    display: block;
                    margin-bottom: 0;
                    margin-right: 25px;
                }

                img {
                    float: left;
                    display: block;
                    height: 1.8em;
                    width: auto;
                }
            }

            .button {
                margin-top: 15px;
            }
        }
    }

    .notifications {
        background: green;
        position: fixed;
        right: 6px;
        top: 6px;
        height: 0;
        width: 0;
        overflow: hidden;
        opacity: 0;
        @include border-radius(50px);

        &.action-required {
            background: red;
            opacity: 1;
            height: 44px;
            width: 44px;
            transition: all 1s ease-out;
        }

        .exclaimation {
            position: absolute;
            display: block;
            top: 7px;
            left: 16px;
            color: $white;
            font-size: 2em;
        }

        .notification-items {
            display: none;
        }

        &:hover {
            height: 200px;
            width: 400px;
            background: $white;
            transition: all 0.5s ease-out;
            @include border-radius(5px);

            .exclaimation {
                display: none;
            }

            .notification-items {
                display: block;
            }
        }
    }

    @media only screen and (min-width: 700px) {
        #main-navigation {
            width: 125px;
        }

        .main {
            width: 100%;
            padding: 0 20px;
        }

        .food-item {

            .description {
                width: 50%;
            }

            .image {
                width: 50%;
                margin-bottom: 0;

                img {
                    margin-top: 50px;
                }
            }

            .inner {
                padding: 15px;
            }

            .calendar {
                width: 748px;

                li {

                    &:nth-child(7) {
                        clear: none;
                    }
                }
            }
        }

        .all-food-list {

            .image-container {
                height: 200px;
            }

            &.slim {
                width: 500px;
            }
        }

        .currently-growing {

            li {
                width: 49%;
                margin-right: 2%;
            }
        }

        h1 {
            margin-top: 20px;
        }

        h2 {
            float: left;
            text-align: left;
        }
    }
}
