@import "./_colors.scss";
@import "./reset.scss";

#lets-grow {
    width: 1000px;
    margin: 0 auto;
    background: $primary-background;

    .in-season {
        background: #52c152;
    }

    .not-in-season {
        background: #e53232;
    }

    .calendar {
        width: 100%;

        li {
            float: left;
            display: block;
            width: 8.33%;
        }
    }
}
