@import "./_colors.scss";
@import "./reset.scss";

html {
    font-size: 1em;
    font-family: arial, sans-serif;
    color: $primary-type;
    background: $primary-background;
}

#lets-grow {
    width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    min-height: 100vh;

    #main-navigation {
        padding: 20px 0;
        width: 100%;
        float: left;
        clear: both;

        li {
            float: left;
            margin-right: 20px;
            text-align: center;

            a {
                color: $grey;
            }
        }
    }

    h1 {
        font-size: 2em;
        text-transform: capitalize;
        width: 100%;
        float: left;
        display: block;
        margin-bottom: 20px;
    }

    .in-season {
        background: $in-season-background;
    }

    .not-in-season {
        background: $not-in-season-background;
    }

    .food-item {

        header {
            height: 150px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            h1 {
                text-align: center;
                line-height: 150px;
            }
        }
    }

    .calendar {
        width: 100%;

        li {
            float: left;
            display: block;
            width: 8.33%;
            height: 40px;
            text-align: center;
            box-sizing: border-box;
            border-right: 1px solid $white;
            color: $white;
            line-height: 40px;

            &:last-child {
                border-right: 0;
            }
        }
    }
}
